*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #4d4d4d;
}
#login{
    align-items: center;
    text-align: center;
    display: block;
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -400px;
    left: 35%;
    border-radius: 20px;
    padding: 40px;
}
#login h1{
    color: #4d4d4d;
}
#login input{
    height: 30px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: #4d4d4d;
    outline-color: none;
    background-color: #eeeeee;
    text-align: center;
    
}
#login button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: #4d4d4d;
    color:white;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    margin-left: 125px;
}
.alerta{
    background-color: red;
    color: white;
    padding: 5px;
    display: block;
    display: none;
}
#elemento{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    background-color: white;
    top: 200px;
    left: 200px;
}

#elemento h2{
    color: #4d4d4d;
    font-size: 4rem;
    padding-top: 20px;
}
#opciones{
    position: absolute;
    right: 200px;
    top: 50px;
    width: 300px;
    min-width: 300px;
}
#opciones ul li {
    list-style: none;
    width: 100%;
    display: block;
    height: 190px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}
#opciones ul li:hover {
    cursor: move;
    border: 3px dashed red;    
}
#opciones ul li h2{
    font-size: 7rem;
    color: #4d4d4d;
    padding-top: 30px;
    text-align: center;
}
#puntaje{
    background-color: black;
    padding: 10px;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    color: blanchedalmond;
}
